@import "~bootstrap/scss/bootstrap";
@import "toastr/toastr";

body {
  background-image: linear-gradient(135deg, #43cbff 10%, #9708cc 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn-dark {
  background: rgba(44, 24, 61, 0.575);
  border-style: none;
}

.hero-text {
  font-size: 2.8rem !important;
}

.hero-main {
  margin-top: 5%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
}

.nav-item:hover {
  border-bottom: 2px solid #43f9ff;
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.animate {
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

footer {
  margin-top: 10rem;
}

@media only screen and (max-width: 700px) {
  .hero-img {
    display: none;
  }
  .hero-main {
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
  }
  .sign-up-div {
    width: 80% !important;
  }
}

.sign-up-div {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  width: 65%;
}
