<main class="container pt-5">
  <div class="row mt-5 align-items-center">
    <div class="col-lg-7 6 col-md-8 col-sm-12 hero-main p-5">
      <h2 class="fw-bold mb-3 hero-text">Meet passionate professionals <br><span class="text-white"> doing things you are interested in</span></h2>
      <span class="text-white">One Day Experience provides a platform connecting young people with professionals willing to offer one day on-the-job experience in their sector. 
      </span>
      <br>
      <div class="dropdown mt-5">
        <button type="button" class="btn btn-dark btn-lg mt-3 rounded-pill text-light dropdown-toggle" type="button" id="dropdownSignUpButton" data-bs-toggle="dropdown" aria-expanded="false">
          Sign up
        </button>
        <ul class="dropdown-menu drop-sign animate slideIn" aria-labelledby="dropdownSignUpButton">
          <li> <%= link_to "Sign Up as Professional", new_professional_registration_path %></li>

        </ul>
      </div>
    </div>
  <div class="col-lg-5 col-md-4 col-sm-12 p-2 text-center">
    <img src=<%= asset_path("Saly-10.png") %> class="hero-img animate slideIn" width="500"/>
  </div>

</div>
</main>
   
