<main class="container pt-5">
  <div class="row mt-5 align-items-center">
    <div class="col-lg-6 6 col-md-8 col-sm-12 col-xs-12 hero-main p-5">
      <h2 class="fw-bold mb-3 hero-text">Meet passionate professionals <br><span class="text-white"> doing things you are interested in</span></h2>
      <span class="text-white">One Day Experience provides a platform connecting young people with professionals willing to offer one day on-the-job experience in their sector. 
      </span>
      <br>
      <div class="dropdown mt-4">
        <button type="button" class="btn btn-dark btn-lg mt-3 text-light dropdown-toggle" type="button" id="dropdownSignUpButton" data-bs-toggle="dropdown" aria-expanded="false">
          Sign up
        </button>
        <ul class="dropdown-menu drop-sign animate slideIn" aria-labelledby="dropdownSignUpButton">
          <li> <%= link_to "Professional", new_user_registration_path, class:"dropdown-item" %></li>

        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-4 col-sm-12 p-2 text-center">
      <img src=<%= asset_path("Saly-10.png") %> class="hero-img" width="500"/>
    </div>
  </div>
</main>
<footer class="mx-auto text-white-50 w-100">
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="row mb-3">
        <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-2 mx-auto">
          <p class="social text-light mb-0 pb-0 bold-text text-center">
            <span class="mx-2">
              <i class="fa fa-facebook" aria-hidden="true">
              </i>
            </span>
            <span class="mx-2">
              <i class="fa fa-linkedin-square" aria-hidden="true">
              </i>
            </span>
            <span class="mx-2">
              <i class="fa fa-twitter" aria-hidden="true">
              </i>
            </span>
            <span class="mx-2">
              <i class="fa fa-instagram" aria-hidden="true">
              </i>
            </span>
          </p>
        </div>
      </div>
      <div class="row">
        <small class="rights text-center"><span>&#174;</span> One Day All Rights Reserved.</small>
      </div>
    </div>
  </div>
</footer>

   
